<nav style="background-color: aquamarine;" class="navbar navbar-light">
    <div class="container-fluid">
    <h1 style="color: black;">Employee</h1>
   
    <div class="d-flex"></div>
    <button (click)="clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Employee</button>
   
   
    </div>
   </nav>
   
   
   <table class="table mt-3">
     <thead>
     <tr>
          <th scope="col">Id</th>
         <th scope="col">EmpId</th>
         <th scope="col">EmpName</th>
         <th scope="col">EmpMobile</th>
         <th scope="col">EmpSalary</th>
         <th scope="col">Action</th>
     </tr>
     </thead>
   
     <tbody>
  
      <tr  *ngFor="let row of employeeData">

        <td>{{row.id}}</td>
        <td>{{row.empId}}</td>
        <td>{{row.empName}}</td>
        <td>{{row.empMobile}}</td>
        <td>{{row.empSalary}}</td>


        <td>
          <button (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-info">Edit</button>
          <button (click)="deleteEmployee (row)" class="btn btn-danger mx-3">Delete</button>
      </td>
      
      </tr>
    
    
     </tbody>
   </table>
   
   <!-- Button trigger modal -->
   
   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
   
   
           <form [formGroup]="formValue">
             
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> Id</label>
                <input type="text" formControlName="id" class="form-control" id="exampleInputId" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Employee Id</label>
               <input type="text" formControlName="empId" class="form-control" id="exampleInputEmpId" aria-describedby="emailHelp">
             </div>
             <div class="mb-3">
               <label for="exampleInputPassword1" class="form-label">Name</label>
               <input type="text" formControlName="empName" class="form-control" id="exampleInputEmpName">
             </div>
             <div class="mb-3">
               <label for="exampleInputPassword1" class="form-label">Mobile</label>
               <input type="text" formControlName="empMobile" class="form-control" id="exampleInputEmpMobile">
             </div>
             <div class="mb-3">
               <label for="exampleInputPassword1" class="form-label">Salary</label>
               <input type="text" formControlName="empSalary" class="form-control" id="exampleInpuEmpSalary">
             </div>
             
            
           </form>
   
   
         </div>
         <div class="modal-footer">
           <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button type="button" *ngIf="showAdd" (click)="postEmployeeDetails ()" class="btn btn-primary">Add</button>
           <button type="button" *ngIf="showUpdate" (click)="UpdateEmployeeDetails ()" class="btn btn-primary">Update</button>
         </div>
       </div>
     </div>
   </div>